<div class="col-sm-12 nested-fields">
  <div class="form-group col-sm-6">
    <label>House No/Name:</label>
    <%= f.text_area :house_name, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>Street No:</label>
    <%= f.text_area :street_no, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>Area</label>
    <%= f.text_area :area, class: 'form-control' %>
  </div>
  

  <div class="form-group col-sm-6">
    <label>City:</label>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>State:</label>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>Country:</label>
    <%= f.text_field :country, class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>Pin code:</label>
    <%= f.text_field :pin_code,class: 'form-control' %>
  </div>

  <div class="form-group col-sm-6">
    <label>Address Proof:</label>
    <%= f.text_field :address_proof, class: 'form-control' %>
  </div>
</div>